:root {
  --background: #b9eddd;
  --primaryColor: #569daa;
  --secondaryColor: #87cbb9;
  --darkColor: #577d86;
}

html {
  box-sizing: border-box;
  background-color: #000;
  overflow-x: hidden;
}
body {
  background-color: #000 !important;

  padding: 0 8px;
}

section {
  margin-bottom: 3rem;
  padding: 0 1rem;
}
p,
h1,
h2 {
  margin-bottom: 1.3rem;
}

/* Navbar Styling */
nav {
  display: flex;

  height: min-content;
  justify-content: start;
  align-items: center;
  background: transparent;
  flex-direction: column;
}
nav img {
  width: 300px;
  margin-top: 4rem;
  background-color: transparent;
}

nav button {
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  margin: 2rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
}
nav button:hover {
  background-color: white;
  color: black;
}
/* Home Section */
.card {
  border-radius: 20px;
  background-color: white;
  padding: 2rem !important;
  border-radius: 3rem !important;
  transition: all 0.4s ease-in-out;
  min-height: 200px;
}
.card:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.static:hover {
  transform: none;
  cursor: auto;
}

.title {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
}

.large-text {
  font-size: 64px;
}

/* Rolling Text on card */
.large-card {
  overflow: hidden;
}
.rolling-images {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: rotate 20s linear infinite;
  height: 300px;
  width: 300px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rolling-images > img {
  opacity: 0.2;
  transition: 0.2s ease-in-out;
}
.rolling-images > img:nth-of-type(1) {
  animation: rotate 10s linear infinite;
}

.rolling-images > img:nth-of-type(2) {
  animation: rotate 10s linear infinite 1s;
}

.rolling-images > img:nth-of-type(3) {
  animation: rotate 10s linear infinite 2s;
}
.large-card:hover > .rolling-images > img {
  opacity: 1;
}
.large-card:hover > .rolling-text-container {
  display: none;
}
.inner-large-card {
  transition: all 0.2s ease-in;
}
.large-card:hover > .inner-large-card {
  transform: scale(0.98);
}
.rolling-text-container {
  width: 100%;
  position: absolute;
  left: 0;

  top: 25%;
  white-space: nowrap;
  overflow: hidden;
}
.hidden-rolling-text-container {
  width: 100%;
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0);
  display: none;
  white-space: nowrap;
}
.small-card {
  overflow: hidden;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.water-bottle {
  background-image: url("./Assets/Images/bottle-can.png");
  transition: all 0.4s ease-in-out;
  background-repeat: no-repeat;
  background-size: 100%;
}
.water-bottle:hover {
  background-position: center;
}

.tin-bg {
  background-image: url("./Assets/Images/tin.png");
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  background-position: top;
}
.tin-bg:hover {
  background-position: center;
}

.small-card:hover > .hidden-rolling-text-container {
  display: block;
}
.small-card:hover > .inner-small-card {
  display: none !important;
}
.rolling-text {
  display: inline-block;
  font-weight: 700;
  font-size: 64px;

  animation: scrolling 8s linear infinite;
  /* padding-right: 100%; */
}
@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#services-circle {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
.my-services-row {
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: center;

  margin: 8px auto;
}
.my-services-row-left {
  background-color: #1b1b1f;
  color: #a5a1ff;
  padding: 2.5rem;
  display: grid;
  max-width: 500px;
  height: max-content;
  border-radius: 3rem;
  grid-template-columns: auto 1fr;
  transform: translateX(50%);
  transition: transform 2s ease;
}
.my-services-row-left-show {
  transform: translateX(0) !important;
  padding: 2.5rem 5rem 2.5rem 2.5rem;
  border-radius: 3rem;
}
.my-services-row-right {
  color: #1b1b1f;
  /* max-width: 600px; */
  background-color: #a5a1ff;
  display: flex;
  width: 100%;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
  z-index: 10;
  transform: translateX(-50%);
  transition: transform 2s ease;
}
.my-services-row-right-show {
  transform: translateX(0) !important;
  margin-left: -2.5rem;
}
.btn-container {
  display: grid;
}

.custom-btn {
  display: inline;
  width: 100%;
  background-color: transparent;
  border-radius: 3rem;
  border: 2px solid #fcf380;
  padding: 1rem 2rem;
  font-size: 22px;
  font-weight: 600;
  margin-right: 8px;
  color: #fcf380;
}
.custom-btn:hover {
  background-color: #fcf380;
  color: black;
  /* animation: slide-up 1s forwards; */
}

/* Contact us  */
.field-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
  width: 100%;
}
.col-left {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-right {
  display: grid;
  grid-template-columns: 1fr;
}
.custom-input {
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0 0 0 1px #1d1c16;
  border: 0;
  color: #fff480;
  font-weight: 475;
  transition: -webkit-box-shadow 0.1s ease-out;
  width: 100%;
  background: #1d1c16;

  padding: 36px 44px;
  border-radius: 48px;
}
.custom-input:not(:placeholder-shown) {
  border: 2px solid #fff480;
}
.text-area {
  font-size: 1rem;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  outline: none;
  box-shadow: inset 0 0 0 1px #1d1c16;
  border: 0;
  color: #fff480;
  font-weight: 475;
  transition: -webkit-box-shadow 0.1s ease-out;
  width: 100%;
  background: #1d1c16;

  padding: 36px 44px;
  border-radius: 48px;
}

.long-btn {
  color: #1c1c16;
  background: #fff480;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 725;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;
  will-change: transform;
  padding: 36px 44px;

  border-radius: 48px;
}
.email-container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .field-container {
    grid-template-columns: 1fr;
  }
  .col-left {
    grid-template-columns: 1fr;
  }
  .text-area {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  #services-circle {
    display: none;
  }
  .my-services-row-right {
    display: none !important;
  }
  .email-container {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: column !important;
  }

  .large-text {
    font-size: 24px;
  }
  .contact-us-container {
    margin-right: 0 !important;
  }
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  color: white;
}

footer > p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 8px 0;
  text-align: center;
  
}

footer > span {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
